<nav class="fixed-bottom">
  <div class="d-lg-flex justify-content-evenly">
    <div>
      <span>LOGO</span>
    </div>
    <div class="copyright">
      <p>developed and maintained by <a href="#">company</a></p>
    </div>
    <div>
      <ul class="d-flex gap-3 list-unstyled">
        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
