div{
  display: inline-block;
  width: 100%;
  padding-top: 10px;
}

.card-group{
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
  width: 30%;
}

.example-card{
  background-color: darkseagreen;
  border-radius: 10px;
  -moz-border-radius: 10px;
  width: 100%;
}

@media (max-width: 1200px){
  div{
    display: inline-block;
    width: 100%;
    padding-top: 5px;
  }
  .card-group {
    width: 100%;
    margin-left: 2px;
  }
}

