<section >
  <div>
    <div class="card-group">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Portugues </mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>Fazer simulado</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card-group">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Matematica</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>Fazer simulado</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="card-group">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Portugues </mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>Fazer simulado</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div>
    <div class="card-group">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Portugues </mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>Fazer simulado</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card-group">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Matematica</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>Fazer simulado</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="card-group">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Portugues </mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>Fazer simulado</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>

