<section class="text-center position-relative" style="top: 20px">

  <div class="card shadow-2-strong">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-2 text-uppercase mb-5">Cadastro</h2>
          <form>

            <div class="form-outline mb-4">
              <div class="form-outline">
                <input type="text" id="form3Example1" class="form-control" />
                <label class="form-label" for="form3Example1">Nome</label>
              </div>

              <div class="form-check form-check-inline mt-3">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Masculino">
                <label class="form-check-label" for="inlineRadio1">Masculino</label>
              </div>

              <div class="form-check form-check-inline mt-3">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Feminino">
                <label class="form-check-label" for="inlineRadio2">Feminino</label>
              </div>
            </div>

            <div class="form-outline mb-4">
              <input type="email" class="form-control" />
              <label class="form-label" for="form3Example3">Email</label>
            </div>

            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Confirmar Email</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" class="form-control" />
              <label class="form-label" for="form3Example4">Senha</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Confirmar Senha</label>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Enviar</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
